@layer vocs_preflight {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

/* as example (prefer theming) */
/* :root {
  --vocs-color_background: white;
} */
/* :root.dark {
  --vocs-color_background: #232225;
} */
/* .vocs_H1 {
  font-size: 2em;
} */


.vocs_H1,
.vocs_H2 {
  /* font-size: 2em; */
  color: var(--vocs-color_textAccent);
}

.vocs_H3,
.vocs_H4,
.vocs_H5 {
  color: var(--vocs-color_blockquoteText);
}

.vocs_Strong {
  color: var(--vocs-color_white);
}
blockquote .vocs_Strong {
  color: var(--vocs-color_textAccent);
}

.vocs_H3:not(:first-child) {
  margin-top: 0;
  padding-top: 0;
}

.vocs_ListItem:not(:last-child) {
  margin-bottom: 0.2em!important; /* default: 0.5em; */
}

/* custom components */

.Footer {
  color: var(--vocs-color_text4);
  font-family: var(--vocs-fontFamily_mono);
}

.LogoSmall {
  width: 50px;
  height: 50px;
}
.Logo {
  width: 100px;
  height: 100px;
}
.LogoBig {
  width: 200px;
  height: 200px;
}

