@layer vocs_preflight {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

:root {
  --vocs-color_background: white;
}

:root.dark {
  --vocs-color_background: #232225;
}

.LogoSmall {
  width: 50px;
  height: 50px;
}
.Logo {
  width: 100px;
  height: 100px;
}
.LogoBig {
  width: 200px;
  height: 200px;
}

